@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #606060;
$secondary_color: #79d0e7;
$tertiary_color: #b50909;
$background: #e2e2e2;
$border: #e2e2e2;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	padding: 10px 0;
	background-color: $tertiary_color;
	.moduletable_to11 {
		#a {
			.searchform {
				label {
					display: none;
				}
				[type=text] {
					height: inherit;
					margin: 0;
					padding: 2px;
					border: {
						color: #fff;
						radius: 0;
					}
				}
				[type=submit] {
					display: none;
				}
			}
		}
		#b {
			text-align: center;
			a {
				padding: 0 20px;
				border-right: 1px solid #fff;
				display: inline-block;
				&:last-child {
					border: 0;
				}
			}
		}
	}
}

.top {
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to2 {}
	.moduletable_to3 {
		#a {}
		#b {
			.switcher {
				.selected {
					a {
						border-color: $secondary_color;
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 60px 0;
	h1 {
		font: {
			size: 35px;
			weight: bold;
		}
	}
	h2 {
		font: {
			size: 20px;
			weight: bold;
		}
	}
	.asterisk {
		color: red;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
		&.underline {
			border-bottom: 1px solid $primary_color;
			color: $primary_color;
			display: inline-block;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.box {
		padding: 20px 8px;
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
		h4 {
			font-size: 22px;
		}
		p {
			margin: 0;
		}
		a {
			&.underline {
				border-bottom: 1px solid #fff;
				color: #fff;
				display: inline-block;
			}
		}
	}
	&.full-width {
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding-bottom: 30px;
	.moduletable_b11 {
		h3 {
			margin: 0;
			font: {
				size: 35px;
				weight: bold;
			}
		}
		.box {
			padding: 20px 8px;
			background-color: rgba(0, 0, 0, 0.7);
			color: #fff;
			h4 {
				font-size: 22px;
			}
			p {
				margin: 0;
			}
			a {
				&.underline {
					border-bottom: 1px solid #fff;
					color: #fff;
					display: inline-block;
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding-bottom: 30px;
	.moduletable_b21 {
		h3 {
			margin: 0;
			font: {
				size: 35px;
				weight: bold;
			}
		}
		#a {
			border: {
				top: 6px solid $border;
				bottom: 6px solid $border;
			}
			.max {
				max-width: $max_width;
				margin: auto;
			}
		}
	}
}

/* Block 3 */

.block_3 {
	background-color: $background;
	.moduletable_b31 {
		h3 {
			margin: 0;
			font: {
				size: 35px;
				weight: bold;
			}
		}
		#a {
			padding-bottom: 30px;
			background-color: #fff;
		}
		#b {
			&.max {
				max-width: $max_width;
				margin: auto;
			}
			padding: 30px 0;
			h4 {
				font-size: 16px;
			}
			p {
				margin-bottom: 5px;
			}
			font-size: 12px;
		}
	}
}

/* Bottom */

.bottom {
	padding: 40px 0;
	/*background: {
		image: url(bottom_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}*/
	background-color: $tertiary_color;
	.moduletable_bo1 {
		h3 {
			font-size: 26px;
		}
		color: #fff;
		a {
			color: #fff;
			&.button {
				border: {
					color: #fff;
					radius: 0;
				}
			}
		}
	}
	.copyright {
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}